# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment files
.env
*.env

# Python virtual environments
venv/
.venv/
env/
.conda/
*.egg-info/

# OS junk
.DS_Store
Thumbs.db
